@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

*{
    box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
  /*background-image: url(https://blackbird-digital.de/HTML-Christmas-Advent-Calendar-blue/img/bg.jpg);*/
  background-image: url(./svg/background_calender.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-color: red;*/
  /*background-color: #b6d3d7;*/
  /*color: #fff;*/
}

/*-----------TOOLTIP------------*/
.tooltip {
    cursor: pointer;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    visibility: hidden;
    width: 120px;
    background-color: #B79A7E;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #B79A7E transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*-----------TOOLTIP---------*/

.d1 {
  background-image: url(./svg/day1.svg);
  background-color: #4e2c1a96;
}

.d2 {
  background-image: url(./svg/day2.svg);
  background-color: #4e2c1a96;
}

.d3 {
  background-image: url(./svg/day3.svg);
  background-color: #4e2c1a96;
}

.d4 {
  background-image: url(./svg/day4.svg);
  background-color: #4e2c1a96;
}

.d5 {
  background-image: url(./svg/day5.svg);
  background-color: #4e2c1a96;
}

.d6 {
  background-image: url(./svg/day6.svg);
  background-color: #4e2c1a96;
}

.d7 {
  background-image: url(./svg/day7.svg);
  background-color: #4e2c1a96;
}

.d8 {
  background-image: url(./svg/day8.svg);
  background-color: #4e2c1a96;
}

.d9 {
  background-image: url(./svg/day9.svg);
  background-color: #4e2c1a96;
}

.d10 {
  background-image: url(./svg/day10.svg);
  background-color: #4e2c1a96;
}

.d11 {
  background-image: url(./svg/day11.svg);
  background-color: #4e2c1a96;
}

.d12 {
  background-image: url(./svg/day12.svg);
  background-color: #4e2c1a96;
}

.d13 {
  background-image: url(./svg/day13.svg);
  background-color: #4e2c1a96;
}

.d14 {
  background-image: url(./svg/day14.svg);
  background-color: #4e2c1a96;
}

.d15 {
  background-image: url(./svg/day15.svg);
  background-color: #4e2c1a96;
}

.d16 {
  background-image: url(./svg/day16.svg);
  background-color: #4e2c1a96;
}

.d17 {
  background-image: url(./svg/day17.svg);
  background-color: #4e2c1a96;
}

.d18 {
  background-image: url(./svg/day18.svg);
  background-color: #4e2c1a96;
}

.d19 {
  background-image: url(./svg/day19.svg);
  background-color: #4e2c1a96;
}

.d20 {
  background-image: url(./svg/day20.svg);
  background-color: #4e2c1a96;
}

.d21 {
  background-image: url(./svg/day21.svg);
  background-color: #4e2c1a96;
}

.d22 {
  background-image: url(./svg/day22.svg);
  background-color: #4e2c1a96;
}

.d23 {
  background-image: url(./svg/day23.svg);
  background-color: #4e2c1a96;
}

.d24 {
  background-image: url(./svg/day24.svg);
  background-color: #4e2c1a96;
}

#sp-wrapper {
  /*background: green;*/
  margin: 20px auto;
  max-width: 900px;
  text-align: center;
}

#doors {
  /*background: orange;*/
  list-style: none;
  text-align: center;
  padding: 0;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.door {
  width: 90px;
  height: 90px;
  display: inline-block;
  padding: 2% 2%;
  margin: 2% 2%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

/*.door:hover {
  background-color: yellow;
}*/

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 933px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.imgcontainer {
  width: 500px;
  height: 500px;
  margin-bottom: 20px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.ingredients {
 width: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
}

li:first-child {
  padding-bottom: 10px;
}

h1 {
  margin: 0;
  font-size: 45px;
  margin-bottom: 10px;
  font-family: 'Poiret One', cursive;
  font-weight: lighter;
}

h3 {
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}

.description {
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  font-family: sans-serif;
}

.door-clicked {
  /*background: red;*/
  height: 90px;
  width:90px;
  background-size: 90px auto;
  background-position: 0 0;
  transform: rotateY(180deg);
}

.hidden {
  visibility: hidden;
}

.img-door {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .container {
    max-width: 768px;
    justify-content: center;
    margin: 0;
  }

  .ingredients {
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
  }

  .description {
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 40px;
  }

  .imgcontainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
  }
}
