*{
    box-sizing: border-box;
}

body {
  color: white;
  margin: 0;
  padding: 0;
  /*background-image: url(https://blackbird-digital.de/HTML-Christmas-Advent-Calendar-blue/img/bg.jpg);*/
  background-image: url(./svg/background_calender.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /*background-color: red;*/
  /*background-color: #b6d3d7;*/
  /*color: #fff;*/
}

/*.imgcontainer, .door d4 {
  background-image: url(./svg/day4.svg);
}*/

.d1 {
  background-image: url(./svg/day1.svg);
}

.d2 {
  background-image: url(./svg/day2.svg);
}

.d3 {
  background-image: url(./svg/day3.svg);
}

.d4 {
  background-image: url(./svg/day4.svg);
}

.d5 {
  background-image: url(./svg/day5.svg);
}

.d6 {
  background-image: url(./svg/day6.svg);
}

.d7 {
  background-image: url(./svg/day7.svg);
}

.d8 {
  background-image: url(./svg/day8.svg);
}

.d9 {
  background-image: url(./svg/day9.svg);
}

.d10 {
  background-image: url(./svg/day10.svg);
}

.d11 {
  background-image: url(./svg/day11.svg);
}

.d12 {
  background-image: url(./svg/day12.svg);
}

.d13 {
  background-image: url(./svg/day13.svg);
}

.d14 {
  background-image: url(./svg/day14.svg);
}

.d15 {
  background-image: url(./svg/day15.svg);
}

.d16 {
  background-image: url(./svg/day16.svg);
}

.d17 {
  background-image: url(./svg/day17.svg);
}

.d18 {
  background-image: url(./svg/day18.svg);
}

.d19 {
  background-image: url(./svg/day19.svg);
}

.d20 {
  background-image: url(./svg/day20.svg);
}

.d21 {
  background-image: url(./svg/day21.svg);
}

.d22 {
  background-image: url(./svg/day22.svg);
}

.d23 {
  background-image: url(./svg/day23.svg);
}

.d24 {
  background-image: url(./svg/day24.svg);
}

#sp-wrapper {
  /*background: green;*/
  margin: 20px auto;
  max-width: 900px;
  text-align: center;
}

#doors {
  /*background: orange;*/
  list-style: none;
  text-align: center;
  padding: 0;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.door {
  background: transparant;
  width: 90px;
  height: 90px;
  display: inline-block;
  padding: 2% 2%;
  margin: 2% 2%;
  position: relative;
}

.door  a:hover {
    background-color: yellow;
}

.d1 > a {
 background-image: url(https://blackbird-digital.de/HTML-Christmas-Advent-Calendar-blue/img/doors/9.png);
 height: 104px;
 display: block;
 width:90px;
 background-size: 90px auto;
 background-position: 0 0;
}

li.door.d2 h4 {
  font-size: 40px;
  color: red;
  position: absolute;
  top: -95 px;
  left: 17px;
  width:100%;
  z-index: 200;
  position: absolute
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 933px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.imgcontainer {
  width: 600px;
  height: 600px;
  margin-bottom: 20px;
  overflow: hidden;
}

img {
  width: 100%;
  height: auto;
}

.ingredients {
 width: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
}

li:first-child {
  padding-bottom: 10px;
}

h1 {
  margin: 0;
  font-size: 3vw;
  margin-bottom: 10px;
}

h3 {
  font-weight: bold;
  margin: 20px 0px 10px 0px;
}

.description {
  font-size: 18px;
  line-height: 26px;
  width: 100%;
  font-family: sans-serif;
}

@media (max-width: 768px) {
  body {
    margin: 0;
  }

  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .container {
    max-width: 768px;
    justify-content: center;
    margin: 0;
  }

  .ingredients {
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 20px;
  }

  .description {
    width: 100%;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 40px;
  }

  .imgcontainer {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-bottom: 5px;
  }
}
